* {
box-sizing: border-box;
margin: 0;
padding: 0;
  }

  header{
   height: 20vh;
   width:100%;
   background-color: blanchedalmond;
   position: fixed;
   top:0;
   Left:0;


  }

  header h1{
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Center everything */
  body{
    display: flex;
    justify-content: center;
align-items: center;
min-height: 100vh;
    background: #f7f7f7;
    flex-direction: column;
  }
  
  /* Slideshow container */
  .slideshow-container{
    padding-top: 120px;
    max-width: 800px;
    position: relative;
    margin: auto;

  }
  
  
  .mySlides{
    display: none;
    width: 100%;
  }

  .mySlides img{
    width: 100%;
    height: 500px; 
    object-fit: cover;
    border-radius: 8px;
  }
  
  

  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transform: translateY(-50%);
  }
  
  .next{
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
  }
  
 
  
  /* The dots/bullets/indicators */
  .dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover{
    background-color: #717171;
  }
  
  /* Center dots */
  .dots-container{
    text-align: center;
    margin-top: 15px;
  }
  
  /* Fading animation */
  .fade{
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
  }
  